
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar{
    display: none;
}

:root {
    --menu-width: 270px;
    --menu-collapsed: 78px;
}

.main-content {
    width: calc(100% - 78px);
    height: calc(100% - 60px);
    margin-left: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px 0 15px;
}

.header-container h1 {
    font-size: 24px;
    color: #fff;
}

.header-container span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;
}

.header-container ol {
    display: flex;
    padding: 7px 5px;
    gap: 5px;
}

.header-container ol li {
    list-style: none;
}

.header-container ol li a {
    color: #fff;
    text-decoration: none;
}


/* Estilos del menu desplegable */

.menu-slide {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #0f5db2;
    height: 100%;
    width: var(--menu-width);
    transition: all 0.5s ease;
    z-index: 30;
} 

.menu-slide .logo-detail {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.menu-slide .logo-detail img {
    font-size: 35px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.menu-slide .logo-detail .logo-name {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    margin-top: 10px;
}

.menu-slide.close .logo-detail .logo-name {
    pointer-events: none;
    opacity: 0;
    transition-delay: 0.1s;
}


.menu-slide .nav-links::-webkit-scrollbar {
    display: none;

}

.menu-slide .nav-links {
    height: calc(100%-80px);
    padding-top: 30px 0 150px 0;
    overflow: auto;
}

.menu-slide.close .nav-links {
    overflow: visible;
}

.menu-slide .nav-links li {
    list-style: none;
    position: relative;
    transition: all 0.4s ease;
}

.menu-slide .nav-links li:hover {
    background-color: #34454d;
}

.menu-slide .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-slide.close .nav-links li .icon-link {
    display: block;
}

.menu-slide .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.menu-slide .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);

}

.menu-slide.close .nav-links i.arrow {
    display: none;
}

.menu-slide .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-slide .nav-links li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.menu-slide.close .nav-links li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.menu-slide .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #4d4534;
    display: none;
}

.menu-slide .nav-links li.showMenu .sub-menu {
    display: block;
}

.menu-slide .nav-links li .sub-menu a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    height: 41px;
    font-size: 18px;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.4s ease;
}

.menu-slide .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.menu-slide.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.menu-slide.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.menu-slide.close {
    width: var(--menu-collapsed);

} 

.menu-slide .nav-links li .sub-menu .link-name {
    display: none;
}

.menu-slide.close .nav-links li .sub-menu .link-name {
    display: none;
}

.menu-slide.close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.menu-slide .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.menu-slide .nav-links li {
    position: relative;
}

.menu-slide .nav-links li:hover .sub-menu.blank {
    top: 0px;
    transform: translateY(0%);

}

.menu-slide .profile-details {
    position: fixed;
    bottom: 0;
    width: var(--menu-width);
    background-color: #25343a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    transition: all 0.5s ease;
} 

.menu-slide.close .profile-details {
    width: var(--menu-collapsed);
    background: none;
} 

.menu-slide .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.menu-slide .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background-color: #34454d;
    transition: all 0.5s ease;
}

.menu-slide.close .profile-details img {
    padding: 10px;
}

.menu-slide .profile-details .profile-name,
.menu-slide .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.menu-slide.close .profile-details i,
.menu-slide.close .profile-details .profile-name,
.menu-slide.close .profile-details .job {
    display: none;
}

.menu-slide .profile-details .job {
    font-size: 12px;
}

/* Estilos del home-bar */

.home-section {
    position: relative;
    background-color: #e4e9f7;
    left: var(--menu-width);
    width: calc(100% - var(--menu-width));
    transition: all 0.5s ease;
} 

.menu-slide.close~.home-section {
    left: var(--menu-collapsed);
    width: calc(100% - var(--menu-collapsed));
} 

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;

}

.home-section .home-content .ri-menu-line,
.home-section .home-content .text {
    color: #34454d;
    font-size: 35px;
}

.home-section .home-content .ri-menu-line {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

/* Estilos del footer */

.main-footer {
    margin-left: var(--menu-collapsed);
    height: 60px;
    padding: 15px;
    width: calc(100% - var(--menu-collapsed));
    background-color: #34454d;
    border-top: solid 1px #e4e9f7;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: auto;
}

.menu-slide ~ .main-footer {
    margin-left: var(--menu-width);
    width: calc(100% - var(--menu-width));
}

.main-footer h3 {
    font-size: 14px;
}

.main-footer h3 {
    font-size: 14px;
}

.main-footer h3 a {
    text-decoration: none;
    color: #e4e9f7;
}

